@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.toggle {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  color: $text-dark;
  transition: all $transition-base;
  cursor: pointer;

  @media (max-width: 1100px) {
    width: 32px;
    height: 32px;
  }

  &:hover {
    background: rgba($primary-color, 0.1);
    transform: scale(1.1);
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

:root[data-theme='dark'] {
  .toggle {
    color: $text-dark-dark;

    &:hover {
      background: rgba($primary-color-dark, 0.2);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform $transition-base;

  @media (max-width: 1100px) {
    width: 24px;
    height: 24px;
  }
}

